*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  width: 100%;
}

a[role="button"],
nav a {
  text-decoration: none;
  color: inherit;
}

ul:has(article),
nav ul {
  list-style-type: none;
}
