*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-content: center;
  min-height: 100vh;
  background-color: var(--color-bg);
}

img,
picture {
  display: block;
  width: 100%;
}

a[role="button"],
nav a,
article a {
  text-decoration: none;
  color: inherit;
}

ul:has(article),
nav ul {
  list-style-type: none;
}

h1,
h2,
h3,
a {
  transition: color calc(0.1s * var(--animation-factor)) ease-in-out,
    background-color calc(0.1s * var(--animation-factor)) ease-in-out;
}
