@forward "font-face";

html {
  font-size: 15px;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-neutral-4);
}

h1 {
  font-weight: 800;
}

p {
  color: var(--color-neutral-3);
}
