@use "../mixins/" as *;

.page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-lg-1) var(--spacing-md-1);

  &-logo {
    max-width: 3rem;
  }

  &-menu {
    display: none;

    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &-nav {
    & .nav__close {
      display: none;

      border: none;
      width: fit-content;

      background-color: transparent;
      cursor: pointer;
    }

    & a {
      font-weight: 500;

      &:hover {
        color: var(--color-primary-2);
      }
    }

    & .nav__list {
      display: flex;
      gap: var(--spacing-lg-1);
    }
  }
}

@include breakpoint("tablet", "max") {
  .page__header {
    &-menu {
      display: block;
    }

    &-menu[aria-expanded="true"] ~ .nav__overlay {
      display: flex;
    }

    &-menu[aria-expanded="true"] ~ .nav__overlay nav {
      animation: slide-in calc(0.5s * var(--animation-factor)) ease-in-out;
    }

    .nav__overlay {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      display: none;
      justify-content: end;

      background-color: rgba(0, 0, 0, 0.61);
    }

    &-nav {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xl-2);

      padding: var(--spacing-md-2);
      width: 70%;

      background-color: var(--color-neutral-1);

      & .nav__close {
        display: block;
        align-self: end;
      }

      & .nav__list {
        flex-direction: column;
      }
    }
  }
}

@include breakpoint("tablet") {
  .page__header {
    padding-block: var(--spacing-xl-1);
  }
}
